{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
</head>
{% endblock %}
<body class="{{body_class}} body" data-template="base.twig">
    <header>
        {% block header %} 
            <div class='menu'>
                {{gorny_widget_area}}
            </div>
              <div class='menu-content'>
                <h1><a href='http://justyna-m.890m.com/'>
                    Od kuchni </a> <span> czyli książeczka z przepisami</span>
                </h1>
            </div>

          
            <div id='tips'>
           <div class='close-tip'><p>x</p></div>
            {{tip_widget_area}}
        </div>
            
        {% endblock %}
    </header>

    <section> 
        <div id='left-menu'>
            {{lewy_widget_area}}
        </div>


        <div id='content'> 
            {% block content %}
            {% endblock %}
        </div>  

    </section>

    {% block footer %}
        <footer>
           {% include 'footer.twig' %}
       </footer>
   {% endblock %}

</body>
</html>
