{% extends "base.twig" %}

{% block content %}
    <div id="content-index">
        <p>{{qux}}</p>
        {% for post in posts %}
            {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
        {% endfor %}
    </div>
{% endblock %}