{% extends "tease.twig" %}
{% block content %}

	<div class='content-gallery'>
		<h4 class="h4">
			<a href="{{post.link}}">{{post.title}}</a>
		</h2>
			{% if post.thumbnail.src %}
				<img class='thumbnail' src="{{post.thumbnail.src}}" />
			{% endif %}
		<p><small>{{post.get_preview(25)}}</small></p>
	</div>
{% endblock %}