{% extends "tease.twig" %}
{% block content %}

	<div class='content-gallery'>
		<div class='card'>
			<div class='front'>
				<p><small>{{ post.post_date|date}}</small></p>
					<h4 class="h4">
						<a class='post-title' href="{{post.link}}">{{post.title}}</a>
					</h4>
				</div>
					{% if post.thumbnail.src %}
						<div class='thumbnail'>
						<img class='thumbnail-img' src="{{post.thumbnail.src}}" />
					</div>
					{% endif %}
			
		
		</div>
	</div>
{% endblock %}